.header {
  width: 60%;
  position: fixed;
  z-index: 999;
  padding: 10px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  font-family: "Inconsolata", monospace;
}
.container-menu-responsive {
  justify-content: space-between;
  align-items: center;
  display: none;
}
.icon-logo {
  border-radius: 10px;
}
.icon-menu {
  cursor: pointer;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.link-nav {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #c6c6c6;
  transition: color .5s;

}
.link-nav:hover {
    color: #fff;
    transition: color .5s;
}

.select-lenguage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 5px;
  background-color: #2b2f36;
  border-radius: 8px;
}
.container-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
select {
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
}
option {
  color: #000;
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    height: 70px;
  }
  .container-menu-responsive {
    display: flex;
  }
  .container-links {
    flex-direction: column;
  }
  .container-controls {
    gap: 16px;
  }
  .navbar {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
  .active .navbar {
    height: auto;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
  }
  .active {
    height: auto;
  }
}
