.section-home {
  width: 100%;
  padding: 70px 10px 10px 10px;
  color: #fff;
}
.container-titles {
  display: flex;
  flex-direction: column;
}

.title-home {
  font-size: 50px;
  background: linear-gradient(45deg, #df3c6a, #f9ce14 300px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: "Poppins", sans-serif;
}
.subtitle-home {
  font-size: 40px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #a76bdd, #7cd4e9 400px);

  font-family: "Poppins", sans-serif;
}
.text-home {
  font-size: 18px;
  font-weight: 500;
  color: #c6c6c6;

  padding: 10px 0 14px 0;
  font-family: "Inconsolata", monospace;
}
.container-btns {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: "Inconsolata", monospace;
}
.container-links-contacts {
  display: flex;
  gap: 10px;
  align-items: center;
}
.link-contact {
  background-color: transparent;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 8px;
  gap: 5px;
  font-size: 16px;
  font-weight: 500;
  background-color: #2b2f36;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #98989f;
}
.link-contact:hover {
  border-color: #0070f2;
}
